.dropdown-menu {
    width:200px;
    position:absolute;
    top:80px;
    left:50%;
    transform: translateX(-50%);
}

.dropdown-menu li {
    background:#1888ff;
    cursor: pointer;
    float:unset;
    padding-left:0;
}
.dropdown-menu li:hover {
    background:#5cabff;
}